@media screen and (max-width:800px){
    .title{
        font-size: 45px
    };

    h1{
        font-size:40px
    }
    .content-header{
        flex-direction: column-reverse;
        justify-items: space-evenly;
        height: 720px;
    }

    .content-header{
        height: 650px;
    }
    .text-header{
        margin:0
    }
    header{
        height: 120vh;
    }
    .nav{
        padding:0 10px
    }
    .links-header{
        position: fixed;
        background: #8E2DE2;  
        background: -webkit-linear-gradient(to right, #ad8fb7, #8E2DE2);  
        background: linear-gradient(to right, #ad8fb7, #8E2DE2); 
        top:0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .links-header a{
        color:#fff
    }

    .nav .menuEffect{
        -webkit-clip-path:circle(141.2% at 100% 0);
        clip-path: circle(141.2% at 100% 0);
    }

    .button-menu{
        display: block;
    }

    .content-header > img{
        width: 250px;
    }

    
}