*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: #1d273b;
}

.container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.another-container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.title{
    font-size: 50px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

header{
    height: 100vh;
    background: #aa4b6b;  
    background: -webkit-linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/fondok.png); 
    background: linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/fondok.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    z-index: 100;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    height: 50px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.links-header{
    font-weight: 300;
    transition: ease-in-out 0.5s
    
}

.nav .links-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}


.button-menu{
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.button-menu > a{
    font-size: 15px;
    line-height: 80px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    background:  #ad8fb7;
    border-radius: 5vh;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.content-header > img{
    width: 510px;
    animation: ease-in animationimg 1s;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.text-header{
    margin: 0,0,0, 30px;
}

.text-header>h1{
    color: #3a373c;
    font-weight: bold;
}
.text-header>h2{
    color: #ad8fb7;
    font-weight: bold;
}

.copy{
    color:#fff;
}

.content-header{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}

.content-header a{
    background: red;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#ad8fb7;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);
    margin-top: 10vh;
}

